$standard-primary-color: #fff;
$standard-secondary-color-1: #2F241F;
$standard-secondary-color-2: #FCFAFA;
$standard-accent-color-1: #E5F0B6;
$standard-accent-color-2: #817253;

$standard-text-black-color: #000;

$standard-radius-1: 8px;
$standard-radius-2: 12px;
