$standard-primary-color-1: #fff;
$standard-primary-color-2: #FCFAFA;
$standard-primary-color-3: #D9D9D9;
$standard-secondary-color-1: #2F241F;
$standard-secondary-color-2: #553B33;
$standard-accent-color-1: #E5F0B6;
$standard-accent-color-2: #817253;
$standard-grey-color: #667085;

$standard-text-black-color: #000;
$standard-font-family: 'Inter';

$standard-radius-1: 8px;
$standard-radius-2: 12px;

$standard-transition-duration: 350ms;
