@import "./breakpoints";
@import "./variables";

body {
    background-color: $standard-primary-color-1;
    
    .navbar {
        z-index: 1;
        background-color: $standard-primary-color-1;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
        
        padding-inline: 6.25rem;
        
        height: 8rem;
        @include standard-xl {
            padding-inline: 5%;
            height: auto;
            display: flex;
            align-items: center;
        }

        li a, a {
            &:not(#signUpBtn) {
                color: $standard-text-black-color;
            }
        }

        .navbar-toggler {
            @include standard-lg {
                padding: 0.5rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 0.3rem;
                .navbar-toggler-stripes {
                    height: 0.2rem;
                    border-radius: 8px;
                    background-color: $standard-text-black-color;
                }
                .stripe1 {
                    width: 50%;
                }
                .stripe2 {
                    width: 100%;
                }
                .stripe3 {
                    width: 70%;
                }
            }
        }

        .navbar-list {
            display: flex;
            justify-content: end;
            @include standard-lg {
                padding: 1rem;
                position: absolute;
                top: 100%;
                right: 0%;
                z-index: 10;
                border-bottom-left-radius: 10px;
            }

            #dropdownList { 
                ul {
                    padding-block: 0;
                    overflow: hidden;
                    li {
                        button {
                            @include bootstrap-lg {
                                height: 2.2rem;
                            }
                        }
                        hr { margin-block: 0rem; }
                    }
                }
            }

            .navbar-hidden-layer {
                position: fixed;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100vw;
                height: 100vh;
                display: none;
            }
        }

        #navbarCenterVanish {
            @include bootstrap-lg { display: none; }
        }

        #navbarListLeft {
            .navbar-nav {
                gap: 0.3rem;
                @include bootstrap-lg {
                    gap: 3rem;
                }
            }
        }

        #navbarListRight {
            @include standard-lg { display: none !important; }

            .navbar-nav {
                gap: 1rem;
            }
        }

        #signUpBtn {
            color: $standard-secondary-color-1;
            background-color: $standard-accent-color-1;
            border-radius: $standard-radius-1;
            padding: 0.75rem 1.5rem;
            &:hover {
                cursor: pointer;
            }
        }

        #shoppingBag {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            padding: 0.75rem;
            border: none;
            background-color: $standard-secondary-color-1;
            border-radius: $standard-radius-1 !important;
        }
    }

    #heroSection {
        background-color: $standard-primary-color-1;
        display: flex;
        padding: 0;
        height: auto;
        @include standard-lg {
            display: block;
        }
        
        .hero-title-block {

            @include standard-xl {
                padding-inline: 5% !important;
            }
            @include standard-lg {
                padding-block: 1.5rem;
                padding-inline: 5%;
                text-align: center;
                width: 100%;
            }
            @include bootstrap-lg {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding-inline: 8.88rem;
            }
            h1 {
                color: $standard-secondary-color-1;
                // typography
                font-family: $standard-font-family, sans-serif;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -0.045rem;
                
                @include bootstrap-xl {
                    font-size: 4.5rem;
                }
                @include standard-xl {
                    font-size: 3rem;
                }
                @include standard-md {
                    padding-inline: 20%;
                    font-size: 2rem;
                }
                @include standard-sm {
                    padding-inline: 0%;
                }
                
                span { color: $standard-accent-color-2; }
            }

            .hero-buttons-block {
                display: flex;
                gap: 1rem;
                @include bootstrap-lg {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
                
                @include standard-sm {
                    display: block;
                }

                button {
                    padding: 1rem 1rem;
                    border-radius: $standard-radius-2;
                    letter-spacing: 0.2rem;
                    width: 100%;
                    @include bootstrap-lg {
                        padding: 22px 36px;
                    }

                    @include standard-md {
                        font-size: 1rem;

                    }

                    @include standard-sm {
                        width: 80%;
                        font-size: 0.8rem;
                    }
                }
                
                #heroSearch {
                    background-color: $standard-accent-color-1;
                    border: none;
                }
                
                #heroWatch {
                    background-color: $standard-primary-color-1;
                    border: solid $standard-secondary-color-1;
                    @include standard-sm {
                        margin-top: 0.7rem;

                    }
                }

        
            }
        }

        .hero-product-block {
            background-color: red;
            @include standard-lg {
                width: 100vw;
            }

            img {
                width: 100%;
                object-fit: cover;
                @include standard-lg {
                    height: 50vh;
                }
                @include standard-sm {
                    height: 30vh;
                }

                @include bootstrap-lg {
                    object-fit: contain;
                }
                
                @include bootstrap-xl {
                }

            }

            #heroProductHighlighted {
                @include bootstrap-lg {
                    display: none;
                }
            }

            .hero-product-text-block {
                display: flex;
                flex-direction: column;
                @include bootstrap-lg {
                    border: solid red;
                }
                
                @include bootstrap-xl {
                    border: solid greenyellow;
                    position: absolute;
                    bottom: 2.3%;
                    padding-left: 4%;
                    padding-bottom: 10%;

                }

                #heroProductPrice {
                    border-radius: 0.75rem;
                    background: rgba(255, 255, 255, 0.50);
                }

            }
        }
    }

    #whyUsSection {
        background-color: $standard-secondary-color-1;
        &:not(.why-icon-frame) { color: $standard-accent-color-1; }
        
        @include bootstrap-lg {
            display: flex;
            padding: 4.5rem 9.4%;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.5rem;
        }

        @include standard-xl {
            padding: 3.2rem 5%;
        }

        @include standard-lg {
            padding: 2rem 1.5rem;
        }

        .why-us-top {
            @include standard-lg {
                text-align: center;
                margin-bottom: 2rem;
            }
            span {
                @include bootstrap-xl { font-size: 1.5rem; }
                @include standard-lg { font-size: 1rem; }
                @include standard-sm { font-size: 0.8rem; }
            }
            h2 {
                margin-top: 2.5rem;
                @include bootstrap-xl {
                    font-size: 4rem;
                    padding-right: 10%;
                }
                @include standard-xl {
                    font-size: 3rem;
                    margin-top: 1.5rem;
                }
                @include standard-md { font-size: 2rem; }
                @include standard-sm { font-size: 1.5rem; }
            }
        }

        .why-us-bottom {
            display: flex;
            align-items: center;
            gap: 4rem;
            @include standard-lg {
                flex-direction: column;
                align-items: start;
                gap: 1.25rem;
            }

            .why-text-icon {
                display: flex;
                align-items: center;
                gap: 1rem;
                
                h3 {
                    @include bootstrap-xl { font-size: 1.5rem; }
                    @include standard-xl { font-size: 1.2rem; }
                    @include standard-sm {
                        font-size: 0.9375rem;
                        line-height: 1.5rem; /* 160% */
                    }
                }

                .why-icon-frame {
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    background: rgba(229, 240, 182, 0.50);
                }

                a {
                    padding: 0.2rem;
                    color: $standard-primary-color-1;
                    font: {
                        family: $standard-font-family;
                        size: 1.5rem;
                        weight: 700;
                    }
                    line-height: 2.25rem; /* 150% */
                    &:hover { cursor: default; }
                }
            }
        }

    }

    #partnerSection {
        background-color: $standard-primary-color-2;
        display: flex;
        padding: 5rem 8.875rem;
        align-items: center;
        gap: 9.375rem;
        
        @include standard-lg {
            flex-direction: column;
            gap: 1.5rem;
            padding: 1.5rem 1.5rem 2.5rem 1.5rem;
        }
        @include standard-xl { gap: 4rem; }
        @include standard-md { gap: 1.5rem; }

        .partner-left {
            p, h2 {
                color: $standard-secondary-color-1;
                color: #2F241F;
                font-family: $standard-font-family;
            }
            h2 {
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.3rem;

                @include bootstrap-xl { font-size: 6rem; }
                @include standard-xl { font-size: 4rem; }
                @include standard-lg { text-align: center; }
                @include standard-md {
                    font-size: 3rem;
                    letter-spacing: -0.075rem;;
                }
                
                @include standard-sm { font-size: 1.5rem; }
                
            }

            p {
                font-weight: 400;
                font-size: 1.5rem;
                @include standard-md {
                    font-size: 0.875rem;
                    line-height: 1.25rem; /* 142.857% */
                }
            }
        }
        
        .partner-right {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 1rem;
            
            @include bootstrap-xl {
                display: flex;
            }

            .partner-logo {
                svg { @include standard-sm { width: auto; height: 1.5rem; } }
            }
        }
    }

    #recSection {
        padding: 5rem 0rem;
        display: flex;
        gap: 3rem;
        justify-content: start;
        flex-wrap: wrap-reverse;
        @include standard-sm {
            // padding: 1.5rem 1rem;
        }
        .rec-image-block {
            padding: 0;
            border: solid red;
            display: flex;
            @include bootstrap-lg {
                gap: 1.5rem;
                justify-content: space-between;
            }

            @include standard-md {
                flex-direction: row;
            }

            @include standard-sm {
                display: none;
            }
        }
        
        .rec-category-block {
            border: solid black;
            width: auto;

            @include standard-lg {
                width: 100vw;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
            }

            p, h3 {
                color: $standard-secondary-color-1;
                font-family: $standard-font-family;
            }

            p {
                font-weight: 400;
                @include bootstrap-lg {
                    font-size: 1.5rem;
                    letter-spacing: -0.015rem;
                    line-height: 2.25rem; /* 150% */
                }
                @include standard-sm {
                    margin: 0;
                }
            }

            h3 {
                display: flex;
                flex-wrap: wrap;
                font-weight: 700;
                width: min-content;
                @include bootstrap-lg {
                    font-size: 3rem;
                    line-height: normal;
                    letter-spacing: -0.03rem;
                }
            }

            .rec-category-sub-block {
                text-align: start;
                background-color: $standard-primary-color-2;
                
                @include standard-sm {
                    width: 80%;
                    padding: 1.25rem 1rem;
                }
                a {
                    text-decoration: none;
                    color: $standard-text-black-color;
                    font-family: Inter;
                    font-weight: 700;

                    &:hover { cursor: pointer; }

                    @include standard-sm {
                        font-size: 1.125rem;
                        letter-spacing: -0.01125rem;
                    }
                }
            }
        }
    }

    #productSection {
        border: solid red;
        background-color: $standard-secondary-color-1;
        
        @include bootstrap-lg {
            padding-block: 5rem;
        }

        @include standard-sm {
            padding-block: 2rem;
            padding-inline: 0;
        }
        
        .product-top {
            border: solid green;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include bootstrap-lg {
                padding-inline: 8.88rem;
            }
            
            @include standard-sm {
                padding-inline: 1rem;
            }

            .product-heading {
                p, h3 {
                    color: $standard-accent-color-1;
                    font-family: 'Inter';
                    line-height: normal;
                    font-style: normal;
                }

                h3 {
                    font-weight: 700;
                    @include bootstrap-lg {
                        font-size: 3rem;
                        letter-spacing: -0.03rem;
                    }

                    @include standard-sm {
                        font-size: 1.125rem;
                        line-height: 1.75rem; /* 155.556% */
                        letter-spacing: -0.01125rem;
                    }
                }

                p {
                    font-weight: 400;
                    @include bootstrap-lg {
                        font-size: 1.5rem;
                        line-height: 2.25rem; /* 150% */
                        letter-spacing: -0.015rem;
                    }
                    @include standard-sm {
                        font-size: 0.875rem;
                        line-height: 1.25rem; /* 142.857% */
                        letter-spacing: -0.00875rem;
                    }
                }
            }

            .product-more {
                button {
                    color: $standard-secondary-color-1;
                    border: none;
                    background-color: $standard-accent-color-1;
                    border-radius: 0.75rem;
                    font-weight: 400;
                    @include bootstrap-lg {
                        padding: 0.875rem 2.25rem;
                        font-size: 1rem;
                    }

                    @include standard-sm {
                        font-size: 0.75rem;
                        padding: 0.75rem 1rem;
                    }
                }
            }
            
        }

        .product-carousel {
            display: flex;
            @include bootstrap-lg {
                // gap: 2.25rem;
                // justify-content: space-between;
                gap: 3rem;
                justify-content: center;
                padding-block: 3rem;
            }
            
            @include standard-sm {
                gap: 1rem;
                padding-block: 1.5rem;
                padding-inline: 1rem;
            }
        }

        .product-bottom {
            display: flex;
            justify-content: end;
            gap: 1rem;
            @include bootstrap-lg {
                padding-inline: 8.81rem;
            }
            
            @include standard-sm {
                padding-inline: 0;
                margin: 0;
                justify-content: space-between;
            }

            button {
                width: 3rem;
                height: 3rem;
                border: none;
                border-radius: 50%;
                // padding: 1rem;
                background-color: $standard-accent-color-1;
            }
        }
    }

    #newsletter {
        padding-inline: 8.88rem;
        padding-block: 5rem;
        background-color: $standard-primary-color-2; 
        &:not(input) {
            color: $standard-secondary-color-1;
        }
        
        @include standard-sm {
            padding-inline: 1rem;
            padding-block: 2rem;
            text-align: center;
        }

        input, button {
            border: solid red;
            @include standard-md {
                padding: 1rem;
            }
        }

        input {
            color: $standard-secondary-color-2;
        }
        
        button {
            background-color: $standard-accent-color-1;
        }
    }

    footer {
        p, a {
            color: $standard-grey-color;
            text-decoration: none;
        }
        a { &:hover { text-decoration: underline; } }
        
        display: flex;
        padding-inline: 6.25rem;
        padding-block: 5.81rem;
        gap: 1.5rem;
        
        @include standard-sm {
            padding-block: 2.24 5.19rem;
        }
        
        @include standard-lg {
            text-align: center;
            padding-block: 2.24rem 5.19rem;
            padding-inline: 1rem;
            display: block;
        }

        .footer-left-block {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @include standard-lg { margin-bottom: 1rem; }
            #footerCopyRight {
                margin-bottom: 0;
                @include standard-lg { display: none; }
            }
        }

        .footer-right-block {
            display: flex;
            gap: 3.25rem;
            justify-content: flex-end;
            
            @include bootstrap-xl {
                align-items: start;
            }
        
            @include standard-lg {
                justify-content: space-around;
                flex-wrap: wrap;
            }

            .footer-right-sub-block {
                h5 { @include bootstrap-xl { margin-bottom: 1.5rem; } }
            }
        }
    }

}