@import "./breakpoints";
@import "./variables";

body {
    background-color: $standard-primary-color;
    
    .navbar {
        z-index: 1;
        background-color: $standard-primary-color;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
        
        padding-inline: 6.25rem;
        
        height: 8rem;
        @include standard-xl {
            padding-inline: 5%;
            height: auto;
            display: flex;
            align-items: center;
        }

        li a, a {
            &:not(#signUpBtn) {
                color: $standard-text-black-color;
            }
        }

        .navbar-toggler {
            @include standard-lg {
                padding: 0.5rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 0.3rem;
                .navbar-toggler-stripes {
                    height: 0.2rem;
                    border-radius: 8px;
                    background-color: $standard-text-black-color;
                }
                .stripe1 {
                    width: 50%;
                }
                .stripe2 {
                    width: 100%;
                }
                .stripe3 {
                    width: 70%;
                }
            }
        }

        .navbar-list {
            display: flex;
            justify-content: end;
            @include standard-lg {
                padding: 1rem;
                position: absolute;
                top: 100%;
                right: 0%;
                z-index: 10;
                border-bottom-left-radius: 10px;
            }

            #dropdownList { 
                ul {
                    padding-block: 0;
                    overflow: hidden;
                    li {
                        button {
                            @include bootstrap-lg {
                                height: 2.2rem;
                            }
                        }
                        hr { margin-block: 0rem; }
                    }
                }
            }

            .navbar-hidden-layer {
                position: fixed;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100vw;
                height: 100vh;
                display: none;
            }
        }

        #navbarCenterVanish {
            @include bootstrap-lg { display: none; }
        }

        #navbarListLeft {
            .navbar-nav {
                gap: 0.3rem;
                @include bootstrap-lg {
                    gap: 3rem;
                }
            }
        }

        #navbarListRight {
            @include standard-lg { display: none !important; }

            .navbar-nav {
                gap: 1rem;
            }
        }

        #signUpBtn {
            color: $standard-secondary-color-1;
            background-color: $standard-accent-color-1;
            border-radius: $standard-radius-1;
            padding: 0.75rem 1.5rem;
            &:hover {
                cursor: pointer;
            }
        }

        #shoppingBag {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            padding: 0.75rem;
            border: none;
            background-color: $standard-secondary-color-1;
            border-radius: $standard-radius-1 !important;
        }
    }

    #heroContainer {
        background-color: $standard-primary-color;
        display: flex;
        padding: 0;
        height: auto;
        @include standard-lg {
            display: block;
        }
        
        .hero-title-block {

            @include standard-xl {
                padding-inline: 5% !important;
            }
            @include standard-lg {
                padding-block: 1.5rem;
                padding-inline: 5%;
                text-align: center;
                width: 100%;
            }
            @include bootstrap-lg {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding-inline: 8.88rem;
            }
            h1 {
                color: $standard-secondary-color-1;
                // typography
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -0.045rem;
                
                @include bootstrap-xl {
                    font-size: 4.5rem;
                }
                @include standard-xl {
                    font-size: 3rem;
                }
                @include standard-md {
                    padding-inline: 20%;
                    font-size: 2rem;
                }
                @include standard-sm {
                    padding-inline: 0%;
                }
                
                span { color: $standard-accent-color-2; }
            }

            .hero-buttons-block {
                display: flex;
                gap: 1rem;
                @include bootstrap-lg {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
                
                @include standard-sm {
                    display: block;
                }

                button {
                    padding: 1rem 1rem;
                    border-radius: $standard-radius-2;
                    letter-spacing: 0.2rem;
                    width: 100%;
                    @include bootstrap-lg {
                        padding: 22px 36px;
                    }

                    @include standard-md {
                        font-size: 1rem;

                    }

                    @include standard-sm {
                        width: 80%;
                        font-size: 0.8rem;
                    }
                }
                
                #heroSearch {
                    background-color: $standard-accent-color-1;
                    border: none;
                }
                
                #heroWatch {
                    background-color: $standard-primary-color;
                    border: solid $standard-secondary-color-1;
                    @include standard-sm {
                        margin-top: 0.7rem;

                    }
                }

        
            }
        }

        .hero-product-block {
            background-color: red;
            @include standard-lg {
                width: 100vw;
            }

            img {
                width: 100%;
                object-fit: cover;
                @include standard-lg {
                    height: 50vh;
                }
                @include standard-sm {
                    height: 30vh;
                }

                @include bootstrap-lg {
                    object-fit: contain;
                }
                
                @include bootstrap-xl {
                }

            }

            #heroProductHighlighted {
                @include bootstrap-lg {
                    display: none;
                }
            }

            .hero-product-text-block {
                display: flex;
                flex-direction: column;
                @include bootstrap-lg {
                    border: solid red;
                }
                
                @include bootstrap-xl {
                    border: solid greenyellow;
                    position: absolute;
                    bottom: 2.3%;
                    padding-left: 4%;
                    padding-bottom: 10%;

                }

                #heroProductPrice {
                    border-radius: 0.75rem;
                    background: rgba(255, 255, 255, 0.50);
                }

            }
        }
    }

    #whyUsContainer {
        // border: solid red;
        // padding-inline: 5%;
        background-color: $standard-secondary-color-1;
        color: $standard-accent-color-1;
        // padding: 5%;


        // figma code
        display: flex;
        padding: 4.5rem 8.875rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;

        #whyUsBottom {
            display: flex;
            align-items: center;
            gap: 4rem;

            .why-text-icon {
                display: flex;
                align-items: center;
                gap: 1rem;
                .why-icon-frame {
                    display: flex;
                    padding: 0.5rem;
                    align-items: flex-start;
                    gap: 0.5rem;
                    border-radius: 0.5rem;
                    background: #F4F4F4;
                }
            }
        }

    }

    #partnerContainer {
        // background-color: $standard-secondary-color-2;
        // height: 20vh;

        display: flex;
        padding: 5rem 8.875rem;
        align-items: center;
        gap: 9.375rem;
    }

    footer {
        p, a {
            color: $standard-grey-color;
            text-decoration: none;
        }
        a { &:hover { text-decoration: underline; } }
        
        display: flex;
        padding-inline: 6.25rem;
        padding-block: 5.81rem;
        gap: 1.5rem;

        @include standard-lg {
            text-align: center;
        }
        
        @include standard-lg {
            padding-block: 2.24rem 5.19rem;
            padding-inline: 1rem;
            display: block;
        }

        .footer-left-block {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @include standard-lg { margin-bottom: 1rem; }
            #footerCopyRight {
                margin-bottom: 0;
                @include standard-lg { display: none; }
            }
        }

        .footer-right-block {
            display: flex;
            gap: 3.25rem;
            justify-content: flex-end;
            
            @include bootstrap-xl {
                align-items: start;
            }
        
            @include standard-lg {
                justify-content: space-around;
                flex-wrap: wrap;
            }

            // @include bootstrap-xl { background-color:darkgrey; }
            // @include standard-xl { background-color: orange;}
            // @include standard-lg { background-color: deepskyblue; }
            // @include standard-md { background-color:indianred}
            // @include standard-sm { background-color:forestgreen; }

            .footer-right-sub-block {
                h5 { @include bootstrap-xl { margin-bottom: 1.5rem; } }
            }
        }
    }

}