body {
  background-color: #fff;
}
body .navbar {
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
  padding-inline: 6.25rem;
  height: 8rem;
}
@media (max-width: 1200px) {
  body .navbar {
    padding-inline: 5%;
    height: auto;
    display: flex;
    align-items: center;
  }
}
body .navbar li a:not(#signUpBtn), body .navbar a:not(#signUpBtn) {
  color: #000;
}
@media (max-width: 992px) {
  body .navbar .navbar-toggler {
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
  }
  body .navbar .navbar-toggler .navbar-toggler-stripes {
    height: 0.2rem;
    border-radius: 8px;
    background-color: #000;
  }
  body .navbar .navbar-toggler .stripe1 {
    width: 50%;
  }
  body .navbar .navbar-toggler .stripe2 {
    width: 100%;
  }
  body .navbar .navbar-toggler .stripe3 {
    width: 70%;
  }
}
body .navbar .navbar-list {
  display: flex;
  justify-content: end;
}
@media (max-width: 992px) {
  body .navbar .navbar-list {
    padding: 1rem;
    position: absolute;
    top: 100%;
    right: 0%;
    z-index: 10;
    border-bottom-left-radius: 10px;
  }
}
body .navbar .navbar-list #dropdownList ul {
  padding-block: 0;
  overflow: hidden;
}
@media (min-width: 992px) {
  body .navbar .navbar-list #dropdownList ul li button {
    height: 2.2rem;
  }
}
body .navbar .navbar-list #dropdownList ul li hr {
  margin-block: 0rem;
}
body .navbar .navbar-list .navbar-hidden-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: none;
}
@media (min-width: 992px) {
  body .navbar #navbarCenterVanish {
    display: none;
  }
}
body .navbar #navbarListLeft .navbar-nav {
  gap: 0.3rem;
}
@media (min-width: 992px) {
  body .navbar #navbarListLeft .navbar-nav {
    gap: 3rem;
  }
}
@media (max-width: 992px) {
  body .navbar #navbarListRight {
    display: none !important;
  }
}
body .navbar #navbarListRight .navbar-nav {
  gap: 1rem;
}
body .navbar #signUpBtn {
  color: #2F241F;
  background-color: #E5F0B6;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
}
body .navbar #signUpBtn:hover {
  cursor: pointer;
}
body .navbar #shoppingBag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  border: none;
  background-color: #2F241F;
  border-radius: 8px !important;
}
body #heroContainer {
  background-color: #fff;
  display: block;
  padding: 0;
}
@media (min-width: 992px) {
  body #heroContainer {
    display: flex;
    height: auto;
  }
}
@media (max-width: 1200px) {
  body #heroContainer .hero-title-block {
    padding-inline: 5% !important;
  }
}
@media (max-width: 992px) {
  body #heroContainer .hero-title-block {
    padding-block: 1.5rem;
    padding-inline: 5%;
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 992px) {
  body #heroContainer .hero-title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-inline: 8.88rem;
  }
}
body #heroContainer .hero-title-block h1 {
  color: #2F241F;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.045rem;
}
@media (min-width: 1200px) {
  body #heroContainer .hero-title-block h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 1200px) {
  body #heroContainer .hero-title-block h1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  body #heroContainer .hero-title-block h1 {
    padding-inline: 20%;
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  body #heroContainer .hero-title-block h1 {
    padding-inline: 0%;
  }
}
body #heroContainer .hero-title-block h1 span {
  color: #817253;
}
body #heroContainer .hero-title-block .hero-buttons-block {
  display: flex;
  gap: 1rem;
}
@media (min-width: 992px) {
  body #heroContainer .hero-title-block .hero-buttons-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  body #heroContainer .hero-title-block .hero-buttons-block {
    display: block;
  }
}
body #heroContainer .hero-title-block .hero-buttons-block button {
  padding: 1rem 1rem;
  border-radius: 12px;
  letter-spacing: 0.2rem;
  width: 100%;
}
@media (min-width: 992px) {
  body #heroContainer .hero-title-block .hero-buttons-block button {
    padding: 22px 36px;
  }
}
@media (max-width: 768px) {
  body #heroContainer .hero-title-block .hero-buttons-block button {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  body #heroContainer .hero-title-block .hero-buttons-block button {
    width: 80%;
    font-size: 0.8rem;
  }
}
body #heroContainer .hero-title-block .hero-buttons-block #heroSearch {
  background-color: #E5F0B6;
  border: none;
}
body #heroContainer .hero-title-block .hero-buttons-block #heroWatch {
  background-color: #fff;
  border: solid #2F241F;
}
@media (max-width: 576px) {
  body #heroContainer .hero-title-block .hero-buttons-block #heroWatch {
    margin-top: 0.7rem;
  }
}
body #heroContainer .hero-product-block {
  z-index: 1;
}
@media (max-width: 992px) {
  body #heroContainer .hero-product-block {
    width: 100vw;
  }
}
body #heroContainer .hero-product-block img {
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  body #heroContainer .hero-product-block img {
    height: 50vh;
  }
}
@media (max-width: 576px) {
  body #heroContainer .hero-product-block img {
    height: 30vh;
  }
}
body #whyUsContainer {
  background-color: #2F241F;
  color: #E5F0B6;
  display: flex;
  padding: 4.5rem 8.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}
body #whyUsContainer #whyUsBottom {
  display: flex;
  align-items: center;
  gap: 4rem;
}
body #whyUsContainer #whyUsBottom .why-text-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body #whyUsContainer #whyUsBottom .why-text-icon .why-icon-frame {
  display: flex;
  padding: 0.5rem;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #F4F4F4;
}
body #partnerContainer {
  display: flex;
  padding: 5rem 8.875rem;
  align-items: center;
  gap: 9.375rem;
}/*# sourceMappingURL=style.css.map */