body {
  background-color: #fff;
}
body .navbar {
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
  padding-inline: 6.25rem;
  height: 8rem;
}
@media (max-width: 1200px) {
  body .navbar {
    padding-inline: 5%;
    height: auto;
    display: flex;
    align-items: center;
  }
}
body .navbar li a:not(#signUpBtn), body .navbar a:not(#signUpBtn) {
  color: #000;
}
@media (max-width: 992px) {
  body .navbar .navbar-toggler {
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
  }
  body .navbar .navbar-toggler .navbar-toggler-stripes {
    height: 0.2rem;
    border-radius: 8px;
    background-color: #000;
  }
  body .navbar .navbar-toggler .stripe1 {
    width: 50%;
  }
  body .navbar .navbar-toggler .stripe2 {
    width: 100%;
  }
  body .navbar .navbar-toggler .stripe3 {
    width: 70%;
  }
}
body .navbar .navbar-list {
  display: flex;
  justify-content: end;
}
@media (max-width: 992px) {
  body .navbar .navbar-list {
    padding: 1rem;
    position: absolute;
    top: 100%;
    right: 0%;
    z-index: 10;
    border-bottom-left-radius: 10px;
  }
}
body .navbar .navbar-list #dropdownList ul {
  padding-block: 0;
  overflow: hidden;
}
@media (min-width: 992px) {
  body .navbar .navbar-list #dropdownList ul li button {
    height: 2.2rem;
  }
}
body .navbar .navbar-list #dropdownList ul li hr {
  margin-block: 0rem;
}
body .navbar .navbar-list .navbar-hidden-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: none;
}
@media (min-width: 992px) {
  body .navbar #navbarCenterVanish {
    display: none;
  }
}
body .navbar #navbarListLeft .navbar-nav {
  gap: 0.3rem;
}
@media (min-width: 992px) {
  body .navbar #navbarListLeft .navbar-nav {
    gap: 3rem;
  }
}
@media (max-width: 992px) {
  body .navbar #navbarListRight {
    display: none !important;
  }
}
body .navbar #navbarListRight .navbar-nav {
  gap: 1rem;
}
body .navbar #signUpBtn {
  color: #2F241F;
  background-color: #E5F0B6;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
}
body .navbar #signUpBtn:hover {
  cursor: pointer;
}
body .navbar #shoppingBag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  border: none;
  background-color: #2F241F;
  border-radius: 8px !important;
}
body #heroSection {
  background-color: #fff;
  display: flex;
  padding: 0;
  height: auto;
}
@media (max-width: 992px) {
  body #heroSection {
    display: block;
  }
}
@media (max-width: 1200px) {
  body #heroSection .hero-title-block {
    padding-inline: 5% !important;
  }
}
@media (max-width: 992px) {
  body #heroSection .hero-title-block {
    padding-block: 1.5rem;
    padding-inline: 5%;
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 992px) {
  body #heroSection .hero-title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-inline: 8.88rem;
  }
}
body #heroSection .hero-title-block h1 {
  color: #2F241F;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.045rem;
}
@media (min-width: 1200px) {
  body #heroSection .hero-title-block h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 1200px) {
  body #heroSection .hero-title-block h1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  body #heroSection .hero-title-block h1 {
    padding-inline: 20%;
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  body #heroSection .hero-title-block h1 {
    padding-inline: 0%;
  }
}
body #heroSection .hero-title-block h1 span {
  color: #817253;
}
body #heroSection .hero-title-block .hero-buttons-block {
  display: flex;
  gap: 1rem;
}
@media (min-width: 992px) {
  body #heroSection .hero-title-block .hero-buttons-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  body #heroSection .hero-title-block .hero-buttons-block {
    display: block;
  }
}
body #heroSection .hero-title-block .hero-buttons-block button {
  padding: 1rem 1rem;
  border-radius: 12px;
  letter-spacing: 0.2rem;
  width: 100%;
}
@media (min-width: 992px) {
  body #heroSection .hero-title-block .hero-buttons-block button {
    padding: 22px 36px;
  }
}
@media (max-width: 768px) {
  body #heroSection .hero-title-block .hero-buttons-block button {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  body #heroSection .hero-title-block .hero-buttons-block button {
    width: 80%;
    font-size: 0.8rem;
  }
}
body #heroSection .hero-title-block .hero-buttons-block #heroSearch {
  background-color: #E5F0B6;
  border: none;
}
body #heroSection .hero-title-block .hero-buttons-block #heroWatch {
  background-color: #fff;
  border: solid #2F241F;
}
@media (max-width: 576px) {
  body #heroSection .hero-title-block .hero-buttons-block #heroWatch {
    margin-top: 0.7rem;
  }
}
body #heroSection .hero-product-block {
  background-color: red;
}
@media (max-width: 992px) {
  body #heroSection .hero-product-block {
    width: 100vw;
  }
}
body #heroSection .hero-product-block img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  body #heroSection .hero-product-block img {
    height: 50vh;
  }
}
@media (max-width: 576px) {
  body #heroSection .hero-product-block img {
    height: 30vh;
  }
}
@media (min-width: 992px) {
  body #heroSection .hero-product-block img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 992px) {
  body #heroSection .hero-product-block #heroProductHighlighted {
    display: none;
  }
}
body #heroSection .hero-product-block .hero-product-text-block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  body #heroSection .hero-product-block .hero-product-text-block {
    border: solid red;
  }
}
@media (min-width: 1200px) {
  body #heroSection .hero-product-block .hero-product-text-block {
    border: solid greenyellow;
    position: absolute;
    bottom: 2.3%;
    padding-left: 4%;
    padding-bottom: 10%;
  }
}
body #heroSection .hero-product-block .hero-product-text-block #heroProductPrice {
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.5);
}
body #whyUsSection {
  background-color: #2F241F;
}
body #whyUsSection:not(.why-icon-frame) {
  color: #E5F0B6;
}
@media (min-width: 992px) {
  body #whyUsSection {
    display: flex;
    padding: 4.5rem 9.4%;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
}
@media (max-width: 1200px) {
  body #whyUsSection {
    padding: 3.2rem 5%;
  }
}
@media (max-width: 992px) {
  body #whyUsSection {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 992px) {
  body #whyUsSection .why-us-top {
    text-align: center;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  body #whyUsSection .why-us-top span {
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  body #whyUsSection .why-us-top span {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  body #whyUsSection .why-us-top span {
    font-size: 0.8rem;
  }
}
body #whyUsSection .why-us-top h2 {
  margin-top: 2.5rem;
}
@media (min-width: 1200px) {
  body #whyUsSection .why-us-top h2 {
    font-size: 4rem;
    padding-right: 10%;
  }
}
@media (max-width: 1200px) {
  body #whyUsSection .why-us-top h2 {
    font-size: 3rem;
    margin-top: 1.5rem;
  }
}
@media (max-width: 768px) {
  body #whyUsSection .why-us-top h2 {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  body #whyUsSection .why-us-top h2 {
    font-size: 1.5rem;
  }
}
body #whyUsSection .why-us-bottom {
  display: flex;
  align-items: center;
  gap: 4rem;
}
@media (max-width: 992px) {
  body #whyUsSection .why-us-bottom {
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
  }
}
body #whyUsSection .why-us-bottom .why-text-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 1200px) {
  body #whyUsSection .why-us-bottom .why-text-icon h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1200px) {
  body #whyUsSection .why-us-bottom .why-text-icon h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  body #whyUsSection .why-us-bottom .why-text-icon h3 {
    font-size: 0.9375rem;
    line-height: 1.5rem; /* 160% */
  }
}
body #whyUsSection .why-us-bottom .why-text-icon .why-icon-frame {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(229, 240, 182, 0.5);
}
body #whyUsSection .why-us-bottom .why-text-icon a {
  padding: 0.2rem;
  color: #fff;
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem; /* 150% */
}
body #whyUsSection .why-us-bottom .why-text-icon a:hover {
  cursor: default;
}
body #partnerSection {
  background-color: #FCFAFA;
  display: flex;
  padding: 5rem 8.875rem;
  align-items: center;
  gap: 9.375rem;
}
@media (max-width: 992px) {
  body #partnerSection {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  }
}
@media (max-width: 1200px) {
  body #partnerSection {
    gap: 4rem;
  }
}
@media (max-width: 768px) {
  body #partnerSection {
    gap: 1.5rem;
  }
}
body #partnerSection .partner-left p, body #partnerSection .partner-left h2 {
  color: #2F241F;
  color: #2F241F;
  font-family: "Inter";
}
body #partnerSection .partner-left h2 {
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3rem;
}
@media (min-width: 1200px) {
  body #partnerSection .partner-left h2 {
    font-size: 6rem;
  }
}
@media (max-width: 1200px) {
  body #partnerSection .partner-left h2 {
    font-size: 4rem;
  }
}
@media (max-width: 992px) {
  body #partnerSection .partner-left h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  body #partnerSection .partner-left h2 {
    font-size: 3rem;
    letter-spacing: -0.075rem;
  }
}
@media (max-width: 576px) {
  body #partnerSection .partner-left h2 {
    font-size: 1.5rem;
  }
}
body #partnerSection .partner-left p {
  font-weight: 400;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  body #partnerSection .partner-left p {
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
  }
}
body #partnerSection .partner-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
@media (min-width: 1200px) {
  body #partnerSection .partner-right {
    display: flex;
  }
}
@media (max-width: 576px) {
  body #partnerSection .partner-right .partner-logo svg {
    width: auto;
    height: 1.5rem;
  }
}
body #recSection {
  padding: 5rem 0rem;
  display: flex;
  gap: 3rem;
  justify-content: start;
  flex-wrap: wrap-reverse;
}
body #recSection .rec-image-block {
  padding: 0;
  border: solid red;
  display: flex;
}
@media (min-width: 992px) {
  body #recSection .rec-image-block {
    gap: 1.5rem;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  body #recSection .rec-image-block {
    flex-direction: row;
  }
}
@media (max-width: 576px) {
  body #recSection .rec-image-block {
    display: none;
  }
}
body #recSection .rec-category-block {
  border: solid black;
  width: auto;
}
@media (max-width: 992px) {
  body #recSection .rec-category-block {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
body #recSection .rec-category-block p, body #recSection .rec-category-block h3 {
  color: #2F241F;
  font-family: "Inter";
}
body #recSection .rec-category-block p {
  font-weight: 400;
}
@media (min-width: 992px) {
  body #recSection .rec-category-block p {
    font-size: 1.5rem;
    letter-spacing: -0.015rem;
    line-height: 2.25rem; /* 150% */
  }
}
body #recSection .rec-category-block h3 {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  width: -moz-min-content;
  width: min-content;
}
@media (min-width: 992px) {
  body #recSection .rec-category-block h3 {
    font-size: 3rem;
    line-height: normal;
    letter-spacing: -0.03rem;
  }
}
body #recSection .rec-category-block a:hover {
  cursor: pointer;
}
body #productSection {
  border: solid red;
  background-color: #2F241F;
}
@media (min-width: 992px) {
  body #productSection {
    padding-block: 5rem;
  }
}
@media (max-width: 576px) {
  body #productSection {
    padding-block: 2rem;
    padding-inline: 0;
  }
}
body #productSection .product-top {
  border: solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  body #productSection .product-top {
    padding-inline: 8.88rem;
  }
}
@media (max-width: 576px) {
  body #productSection .product-top {
    padding-inline: 1rem;
  }
}
body #productSection .product-top .product-heading p, body #productSection .product-top .product-heading h3 {
  color: #E5F0B6;
  font-family: "Inter";
  line-height: normal;
  font-style: normal;
}
body #productSection .product-top .product-heading h3 {
  font-weight: 700;
}
@media (min-width: 992px) {
  body #productSection .product-top .product-heading h3 {
    font-size: 3rem;
    letter-spacing: -0.03rem;
  }
}
@media (max-width: 576px) {
  body #productSection .product-top .product-heading h3 {
    font-size: 1.125rem;
    line-height: 1.75rem; /* 155.556% */
    letter-spacing: -0.01125rem;
  }
}
body #productSection .product-top .product-heading p {
  font-weight: 400;
}
@media (min-width: 992px) {
  body #productSection .product-top .product-heading p {
    font-size: 1.5rem;
    line-height: 2.25rem; /* 150% */
    letter-spacing: -0.015rem;
  }
}
@media (max-width: 576px) {
  body #productSection .product-top .product-heading p {
    font-size: 0.875rem;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: -0.00875rem;
  }
}
body #productSection .product-top .product-more button {
  color: #2F241F;
  border: none;
  background-color: #E5F0B6;
  border-radius: 0.75rem;
  font-weight: 400;
}
@media (min-width: 992px) {
  body #productSection .product-top .product-more button {
    padding: 0.875rem 2.25rem;
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  body #productSection .product-top .product-more button {
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
  }
}
body #productSection .product-carousel {
  display: flex;
}
@media (min-width: 992px) {
  body #productSection .product-carousel {
    gap: 3rem;
    justify-content: center;
    padding-block: 3rem;
  }
}
@media (max-width: 576px) {
  body #productSection .product-carousel {
    gap: 1rem;
    padding-block: 1.5rem;
    padding-inline: 1rem;
  }
}
body #productSection .product-bottom {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
@media (min-width: 992px) {
  body #productSection .product-bottom {
    padding-inline: 8.81rem;
  }
}
@media (max-width: 576px) {
  body #productSection .product-bottom {
    padding-inline: 0;
    margin: 0;
    justify-content: space-between;
  }
}
body #productSection .product-bottom button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: #E5F0B6;
}
body #newsletter {
  padding-inline: 8.88rem;
  padding-block: 5rem;
  background-color: #FCFAFA;
}
body #newsletter:not(input) {
  color: #2F241F;
}
@media (max-width: 576px) {
  body #newsletter {
    padding-inline: 1rem;
    padding-block: 2rem;
    text-align: center;
  }
}
body #newsletter input, body #newsletter button {
  border: solid red;
}
@media (max-width: 768px) {
  body #newsletter input, body #newsletter button {
    padding: 1rem;
  }
}
body #newsletter input {
  color: #553B33;
}
body #newsletter button {
  background-color: #E5F0B6;
}
body footer {
  display: flex;
  padding-inline: 6.25rem;
  padding-block: 5.81rem;
  gap: 1.5rem;
}
body footer p, body footer a {
  color: #667085;
  text-decoration: none;
}
body footer a:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  body footer {
    padding-block: 2.24 5.19rem;
  }
}
@media (max-width: 992px) {
  body footer {
    text-align: center;
    padding-block: 2.24rem 5.19rem;
    padding-inline: 1rem;
    display: block;
  }
}
body footer .footer-left-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 992px) {
  body footer .footer-left-block {
    margin-bottom: 1rem;
  }
}
body footer .footer-left-block #footerCopyRight {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  body footer .footer-left-block #footerCopyRight {
    display: none;
  }
}
body footer .footer-right-block {
  display: flex;
  gap: 3.25rem;
  justify-content: flex-end;
}
@media (min-width: 1200px) {
  body footer .footer-right-block {
    align-items: start;
  }
}
@media (max-width: 992px) {
  body footer .footer-right-block {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  body footer .footer-right-block .footer-right-sub-block h5 {
    margin-bottom: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */